<h1>Listing list_of_waterfalls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Locality</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_of_waterfalls.each do |list_of_waterfall| %>
      <tr>
        <td><%= list_of_waterfall.name %></td>
        <td><%= list_of_waterfall.height %></td>
        <td><%= list_of_waterfall.locality %></td>
        <td><%= list_of_waterfall.country %></td>
        <td><%= list_of_waterfall.description %></td>
        <td><%= link_to 'Show', list_of_waterfall %></td>
        <td><%= link_to 'Edit', edit_list_of_waterfall_path(list_of_waterfall) %></td>
        <td><%= link_to 'Destroy', list_of_waterfall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List of waterfall', new_list_of_waterfall_path %>
